{% extends "base/base.html"%}

{%  block start %}





<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <main class="col-md-9">
    <div class="card">
    
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
        {% for cart_item in cart.cart_items.all %}
        
    <tr>
        <td>
            <figure class="itemside">
                <div class="aside"><img src="/media/{{cart_item.Product.product_images.first.image}}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">{{cart_item.Product.product_name}}</a>
                    {% if cart_item.size_variant %}
                    <p class="text-muted small">Size: {{cart_item.size_variant.size_name}} <br> </p>
                    {% endif %}
                </figcaption>
            </figure>
        </td>
        <td> 
            <select class="form-control">
                <option>1</option>
                <option>2</option>	
                <option>3</option>	
                <option>4</option>	
            </select> 
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">{{cart_item.get_product_price}}</var> 
                
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
        <a href="{% url 'remove_cart' cart_item.uid %}" class="btn btn-light"> Remove</a>
        </td>
        
    </tr>
    {% endfor %}
   

    
    </tbody>
    </table>
    
    <div class="card-body border-top">
        <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
        <a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
    </div>	
    </div> <!-- card.// -->
    
    <div class="alert alert-success mt-3">
        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
    </div>
    
        </main> <!-- col.// -->
        <aside class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Have coupon?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                            <span class="input-group-append"> 
                                <button class="btn btn-primary">Apply</button>
                            </span>
                        </div>
                    </div>
                </form>
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
            <div class="card">
                <div class="card-body">
                       
                        <dl class="dlist-align">
                          <dt>Total:</dt>
                          <dd class="text-right  h5"><strong>{{cart.get_cart_total}}</strong></dd>
                        </dl>
                        <hr>
                        
                        
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
        </aside> <!-- col.// -->
    </div>
    
    </div> <!-- container .//  -->
    </section>
















    <div class="container">



    <div class="card">
        <div class="card-body d-flex">
            <div class="form-inline d-inline-flex mr-auto">
                <labe>Category
                <select class="ml-2 form-control">
                    <option>Clothes</option>
                    <option>Electronics</option>
                    <option>Home Items</option>
                    <option>Foods</option>
                </select>
            </labe></div>
            <div class="btn-group" role="group" aria-label="Filter by">
              <button type="button" class="btn btn-outline-primary active">Featured</button>
              <button type="button" class="btn btn-outline-primary">New Items</button>
              <button type="button" class="btn btn-outline-primary">On Sale</button>
            </div>
        </div>
        </div>


        <div class=" mt-5 pt-5">
            <div class="row">

                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Product type</h5>
                            <ul class="list-menu">
                                <li><a href="#">People <span class="badge badge-pill badge-light float-right">120</span> </a></li>
                                <li><a href="#">Watches <span class="badge badge-pill badge-light float-right">42</span> </a></li>
                                <li><a href="#">Cinema <span class="badge badge-pill badge-light float-right">16</span> </a></li>
                                <li><a href="#">Clothes <span class="badge badge-pill badge-light float-right">87</span> </a></li>
                                <li><a href="#">Home items <span class="badge badge-pill badge-light float-right">34</span></a></li>
                                <li><a href="#">Animals <span class="badge badge-pill badge-light float-right">7</span></a></li>
                                <li><a href="#">People <span class="badge badge-pill badge-light float-right">12</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Rating</h5>
                        
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                              </div>
                            </label>
                    
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> 
                              </div>
                            </label>
                    
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                              </div>
                            </label>
                    
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" checked="" class="custom-control-input">
                              <div class="custom-control-label text-warning"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                              
                              </div>
                            </label>
                    
                        </div>
                    </div>
                    </div>

                    <div class="col-md-9">
                        <div class="row">

                        
                <div class="col-md-4">
                    <figure class="card card-product-grid">
                        <div class="img-wrap"> <img src="../images/items/5.jpg"> </div>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="title">Bell &amp; Ross Nightlum</a>
                            <div class="price mt-2">$299.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </figure> <!-- card // -->
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <figure class="card card-product-grid">
                        <div class="img-wrap"> 
                            <img src="../images/items/6.jpg">
                            <span class="topbar">
                                <a href="#" class="float-right"><i class="fa fa-heart"></i></a>
                            </span>
                            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                        </div>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="title">Leather Sleeve - Macbook 13’’</a>
                            <div class="price mt-2">$3753.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </figure> <!-- card // -->
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            <span class="topbar">
                                <span class="badge badge-success"> NEW </span>
                            </span>
                            <img src="../images/items/7.jpg">
                        </div>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="title">H&amp;M Polo Shirt Slim Fit</a>
                                <div class="price-wrap mt-2">
                                    <span class="price">$12.99</span>
                                    <small class="price-old">$14.99</small>
                                </div> <!-- price-wrap.// -->
                        </figcaption>
                    </figure> <!-- card // -->
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <figure class="card card-product-grid">
                        <div class="img-wrap"> 
                            <img src="../images/items/1.jpg">
                        </div>
                        <figcaption class="info-wrap border-top text-center">
                            <small class="text-uppercase font-weight-bolder text-warning">ELECTRONICS</small>
                            <p><a href="#" class="title">IKEA Poäng Swivel Chair</a></p>	
                        </figcaption>
                    </figure> <!-- card // -->
                </div> <!-- col.// -->
            </div>
        </div>
            </div>
    
            </div>


    </div>










  {% endblock %}